// Typography
// Headings

@for $index from 1 through 6 {

  h#{$index},
  .h#{$index} {
    line-height: 1.2;
    font-weight: 600;
    margin-top: 0;
    font-family: $heading-font-family, $base-font-family, $fallback-font-family;

    $heading: map-get($heading-size, $index);
    font-size: map-get($heading, 'base'); //fallback
    @include fontSize(map-get($heading, 'base'), map-get($heading, 'sm'));
  }
}

// Semantic text elements
a,
ins,
u {
  text-decoration-skip: ink edges;
}

abbr[title] {
  border-bottom: $border-width dotted;
  cursor: help;
  text-decoration: none;
}

kbd {
  @include label-base();
  @include label-variant($light-color, $dark-color);
  font-size: $font-size-sm;
}

mark {
  @include label-variant($body-font-color, $highlight-color);
  border-bottom: $unit-o solid color($highlight-color, 600);
  border-radius: $border-radius;
  padding: $unit-o $unit-h 0;
}

// Blockquote
blockquote {
  border-left: $border-width-lg solid $border-color;
  margin-left: 0;
  padding: $unit-2 $unit-4;

  p:last-child {
    margin-bottom: 0;
  }
}

// Lists
ul,
ol {
  margin: $unit-4 0 $unit-4 $unit-4;
  padding: 0;

  ul,
  ol {
    margin: $unit-4 0 $unit-4 $unit-4;
  }

  li {
    margin-top: $unit-2;
  }
}

ul {
  list-style: disc inside;

  ul {
    list-style-type: circle;
  }
}

ol {
  list-style: decimal inside;

  ol {
    list-style-type: lower-alpha;
  }
}

dl {
  dt {
    font-weight: bold;
  }

  dd {
    margin: $unit-2 0 $unit-4 0;
  }
}