@media (max-width: 600px) {
    span.show-sm {
      display: inline-block !important;
    }}
    
    @media (max-width: 840px) {
    span.show-md {
      display: inline-block !important;
    }}
    @media (max-width: 1280px) {
    span.show-xl {
      display: inline-block !important;
    }}

    .hidden {
        display:none;
    }
