.panel .panel {
    --zIndexBase:10
  }
  .panel .panel .panel {
    --zIndexBase:20
  }
  .panel {
    &.floating {
      background: #f7f7f7;
      z-index: 11;
  
      border-left: 4px solid $primary-color-light;
      border-right: 1px solid #ccc;
  
    &.bottom-right {
      top: 20vh;
      right: 0.25em;
      min-height: 66vh;
      max-height: 79vh;
      width: 66vw;
      background: #f7f7f7;
  
      z-index: 11;
      border-left: 4px solid $primary-color-light;
      border-right: 1px solid #ccc;
  
      margin: 0 1.5rem 1.5rem 0;
      border-radius: 7px;
      box-shadow:
        -2px -2px rgba(204,204,204,0.6),
        -4px -4px rgba(204,204,204,0.3),
        2px 3px rgba(204,204,204,0.9),
        4px 5px rgba(204,204,204,0.4);
  
      & > .panel-title {
        box-shadow: 0 2px 2px -2px #696;
        padding: 0.5em;
        h1, h2, h3, h4, h5, h6 { margin-bottom: 0 }
      }
      & > .panel-footer {
        border-top: 1px dashed #ccc;
      }
    }
  }
}