@import "./display";
@import "./typography";
@import "./forms";
@import "./navigation";
@import "./cards";
@import "./panels";



main {
  padding: 0 0.5em;
}


.grid > .card, .grid > .card + .card:last-of-type {
  margin-bottom: 0;
}
.grid {
  margin-bottom: 0.5em;
}

.小簡 { // icon
  font-size:237%;
  display: inline-block;
  position:relative;
  top: -0.55em;
  left: -0.25em;
  margin-bottom: -0.8em;
  float:left;
  text-shadow: rgba(60,60,60,0.44) -1px -3px 2px;
}

.屋根裏 {  // .panel
  .頭, .panel-header {
    padding:0.5em;
  }

  .敬語 { // .panel-title
    border-bottom: 1px solid #ccc;
    .小簡 ~ h1, .小簡 ~ h2, .小簡 ~ h3, .小簡 ~ h4, .小簡 ~ h5 {
      &:not(:first-child) { margin-top:0; }
      margin-top:0;
      margin-bottom: 0;
    }
    h1, h2, h3, h4, h5 {
      padding: 0;
    }
    padding-bottom:0;
  }
}

.空空兄珍 {
  display: none;
}
:empty + .空空兄珍, .空空兄珍:first-child { // empty display for card-list
  display: block;
}
:empty + .d-inline-block.空空兄珍, .d-inline-block.空空兄珍:first-child {
  display: inline-block;
}
.pop-title, .chip.pop-title {
  color: inherit;
  border-top: 0.5px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.0em 0.35rem;
  box-shadow: 1.5px -3px 1px -1.5px #6663, 8px -6px 1px -7px #6662;
  background:
          linear-gradient(113deg, #bbb, #fff0 0.5rem),
          linear-gradient(242deg, #ccc, #fff0 0.4rem),
          linear-gradient(to bottom, #fff, #fff 0.01rem, #fff0 0.25rem );

  &.active {
    border-top: 0.5px solid #6060aa;
  }
}









