//$primary-color: #2e5bec;
//$dark-color: #3e396b;
$bg-color-brown: #974b00;
$bg-color-yellow: #f8f28e;

@import "../node_modules/spectre.css/src/spectre.scss";

@media (max-width: 600px) {
span.show-sm {
  display: inline-block !important;
}}

@media (max-width: 840px) {
span.show-md {
  display: inline-block !important;
}}
@media (max-width: 1280px) {
span.show-xl {
  display: inline-block !important;
}}

h1 { font-size: 1.6rem }
h2 { font-size: 1.45rem }
h3 { font-size: 1.3rem }
h4 { font-size: 1.15rem }
h5 { font-size: 1rem }
h6 { font-size: 0.85rem }

h1, h2, h3, h4, h5 {
  &:not(:first-child) {
    margin-top: 1em;
  }
}


.navbar {
  background: $bg-color-dark;
  padding: 0.25em;
  a {
    margin: 0 0.5em;
  }
}

:focus, button.btn:focus, a.btn:focus {
  outline: #93b8f2 solid 3px;
  outline-offset: 1px;
  -moz-outline-radius: 4px;
  //outline: -webkit-focus-ring-color auto 5px;
  box-shadow:
    5px 5px 2px #a7a;
}

.screader {
  position: absolute;
  width:1px;
  height: 1px;
  display:block;
  overflow:hidden;
  left: -5000px;
}
main {
  padding: 0 0.5em;
}

%sans {
  font-family: "Segoe UI",Roboto,"Helvetica Neue",sans-serif;
}
.sans {
  @extend %sans;
}

.footnote {
  @extend %sans;
  line-height: inherit;
  font-size: 92%;
  color: #aaa;
  font-style:italic;
}
.form-group > p:not(:last-child) {
  margin-bottom: 0.1em;
}
.form-group > p:last-child {
  margin-bottom: 0.5em;
}

p > .btn {
  padding: 0.25em;
  margin-top:-0.25em;
  height: 1.8em;
  line-height: 1.2em;
  box-shadow:
          0px -1px 3px -1px #fff,
          2px 2px 4px #aaa;
}

.btn {
  &.btn-primary {
    box-shadow:
            0px -1px 3px -1px #fff,
            2px 2px 4px #a7a;
  }
  &:hover {
    box-shadow:
            0px -1px 3px -1px #fff,
            3px 3px 6px #999,
            inset -1px -1px 2px #ccc;
  }
  &.btn-primary:hover {
    box-shadow:
            0px -1px 3px -1px #fff,
            3px 3px 6px #969,
            inset 1px 1px 2px #ccc;

  }

}
.grid > .card, .grid > .card + .card:last-of-type {
  margin-bottom: 0;
}
.grid {
  margin-bottom: 0.5em;
}

.小簡 { // icon
  font-size:237%;
  display: inline-block;
  position:relative;
  top: -0.55em;
  left: -0.25em;
  margin-bottom: -0.8em;
  float:left;
  text-shadow: rgba(60,60,60,0.44) -1px -3px 2px;
}

.屋根裏 {  // .panel
  .頭, .panel-header {
    padding:0.5em;
  }

  .敬語 { // .panel-title
    border-bottom: 1px solid #ccc;
    .小簡 ~ h1, .小簡 ~ h2, .小簡 ~ h3, .小簡 ~ h4, .小簡 ~ h5 {
      &:not(:first-child) { margin-top:0; }
      margin-top:0;
      margin-bottom: 0;
    }
    h1, h2, h3, h4, h5 {
      padding: 0;
    }
    padding-bottom:0;
  }
}

.空空兄珍 {
  display: none;
}
:empty + .空空兄珍, .空空兄珍:first-child { // empty display for card-list
  display: block;
}
:empty + .d-inline-block.空空兄珍, .d-inline-block.空空兄珍:first-child {
  display: inline-block;
}
.card {
  --handleWidth: 4px;
  --handleWidthSelected: 7px;
  --fixedLeftPad: 2px;
  margin-left: 2px;
  margin-right: 0.5rem;
  break-inside: avoid;

  padding-left: calc(var(--fixedLeftPad) + var(--handleWidthSelected) - var(--handleWidth) );  // 5px;
  margin-bottom: 2px;

  & + .card:last-of-type { margin-bottom: 0.5em }

  border-left: var(--handleWidth) solid #ccc;
  box-shadow: 2px 2px 0px #aaa, 4px 4px 0px #ccc;

  //&:last-of-type { margin-bottom: 0.5em }

  p:last-child { margin-bottom: 0; }

  &.compact {
    --handleWidth: 2px;
    --handleWidthSelected:5px;
    margin-bottom: 1px;
    margin-right: 0;

    .card-body {
      padding: 0.33em;
      &:last-child { padding: 0.33em; }
    }
  }
  .card-body {
    padding: 0.5em;
  }
  &:active:hover, &.active, &.focus-within {
    border-left: var(--handleWidthSelected) solid #6060aa;
    padding-left: var(--fixedLeftPad);
  }

  &.active {
    border-top: 1px solid #7979c7;
    border-bottom: 1px solid #7979c7;
  }
  &:not(:active):not(.active):not(.focus-within):hover {
    border-left: var(--handleWidthSelected) solid #7681ff;
    padding-left: var(--fixedLeftPad);
    box-shadow: 2px 2px 0px #aad, 4px 4px 0px #ccf;
  }
  h1, h2, h3, h4, h5, h6 {
    display: contents;
  }
  .card-title {
    float: left;
    width: fit-content;
    ~ .header-right {
      float: right;
    }
  }
  .card-title.pop-title {
    background: white;
    border-top: 0.5px solid #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-left: -0.7rem;
    margin-right: -0.5rem;
    padding: 0.0em 0.35rem;
    margin-top: -0.9rem;
    box-shadow: 1.5px -3px 1px -1.5px #6663, 8px -6px 1px -7px #6662;
    background:
            linear-gradient(113deg, #bbb, #fff0 0.5rem),
            linear-gradient(242deg, #ccc, #fff0 0.4rem),
            linear-gradient(to bottom, #fff, #fff 0.01rem, #fff0 0.25rem );

    ~ .header-right {
      margin-top: -0.8rem;
    }
  }
  &.active .card-title.pop-title {
    border-top: 0.5px solid #6060aa;
  }

  &.active .card-header .pop-left {
    box-shadow:
            -3px 0 1px #6060aa,
            -1px 0 1px #999;
  }
  &:not(:active):not(.active):not(.focus-within):hover .card-header .pop-left {
    box-shadow:
            -2px 0 1px #7681ff,
            -1px 0 1px #999;
  }

  .card-header {
    position: relative;

    & + .card-body {
      padding-top: 0
    };

    .chip.icon {
      padding-left: 0.15em;
      overflow-x: visible;
    }

    .pop-left {
      display: inline-block;
      position: absolute;  // vers its relative container
      top:-0.33em;
      left: calc(-1em - 2px);

      //margin: 0.25em 0.25em 0.25em 0.25em;
      width: 1.5em;
      margin-bottom: -0.25rem;
      padding-left: 0.5em;
      height: 1.75em;
      width: 1.75em;
      //border: 1px solid red;
      box-shadow:
              -1px 0 1px #fff,
              -2px 0 1px #999;
    }


    .card-label {
      /*border: 2px solid hsl(0, 100%, 50%);*/
      display: inline-block;
      white-space: nowrap;
      position: relative;
      z-index: 1;

      margin-left: -0.75em;

      min-width: 1em;
      float:right;
      height: 1.25rem;

      right: -1.7em;
      top: -1.5em;
    }

    .zero-height {
      overflow-x: visible;
      /*height:0;*/
      margin-bottom:-1.35rem;  /* effectively removes from vertical flow*/
    }

    .pop-right {
      background: linear-gradient(to left, #eef0f3ff, #eef0f333 1.9em), linear-gradient(to bottom, #eef0f3ff, #eef0f3ff 0.1em, #eef0f333 0.5em);
      box-shadow: 3px 0px 0px #ccc,
        1px -1px 0px #ccc;

      &.chip-sm {
        right: -0.6em;
        top: -0.5rem;
      }
      &.chip-tiny {
        top: -0.25em;
      }

    }
  }
}

nav {
  border-bottom: 1px solid #aaa;
  box-shadow: 0 3px 2px #ccc;
}
.panel .panel {
  --zIndexBase:10
}
.panel .panel .panel {
  --zIndexBase:20
}
.panel {
  &.fixed-bottom-right {
    position: fixed;
    top: 20vh;
    right: 0.25em;
    min-height: 66vh;
    max-height: 79vh;
    width: 66vw;
    background: #f7f7f7;

    z-index: 11;
    border-left: 4px solid $primary-color-light;
    border-right: 1px solid #ccc;

    margin: 0 1.5rem 1.5rem 0;
    border-radius: 7px;
    box-shadow:
      -2px -2px rgba(204,204,204,0.6),
      -4px -4px rgba(204,204,204,0.3),
      2px 3px rgba(204,204,204,0.9),
      4px 5px rgba(204,204,204,0.4);

    & > .panel-title {
      box-shadow: 0 2px 2px -2px #696;
      padding: 0.5em;
      h1, h2, h3, h4, h5, h6 { margin-bottom: 0 }
    }
    & > .panel-footer {
      border-top: 1px dashed #ccc;
    }
  }
}


.mt-3 {
  margin-top:0.6rem;
}
.mt-4 {
  margin-top:1.2rem;
}
.mt--1 {
  margin-top:-0.1rem;
}
.mt--2 {
  margin-top:-0.2rem;
}
.mt--3 {
  margin-top:-0.6rem;
}
.mt--4 {
  margin-top:-1.2rem;
}
//.mt--6 {
//  margin-top:-1.8rem;
//}
//.mt--8 {
//  margin-top:-2.4rem;
//}

//.mb--1 {
//  margin-bottom:-0.1rem;
//}
//.mb--2 {
//  margin-bottom:-0.2rem;
//}

.mr-4 {
  margin-right:1.2rem;
}
.mr--1 {
  margin-right:-0.1rem;
}
.mr--2 {
  margin-right:-0.2rem;
}
.mr--4 {
  margin-right:-1.2rem;
}
//.mr--8 {
//  margin-right:-2.4rem;
//}

.ml-4 {
  margin-left:1.2rem;
}
.ml--1 {
  margin-left:-0.1rem;
}
.ml--2 {
  margin-left:-0.2rem;
}
.ml--4 {
  margin-left:-1.2rem;
}

.p-4 {
  padding:1.2rem;
}
.p-3 {
  padding:0.6rem;
}
